.Form { 
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
 }

.Form__div {
  display: flex;
  justify-content: space-between;
}

.Form__h3 {
  color: #888;
}

.Form__textarea {
  border-color: #faadad;
  padding: 5px;
}

.Form__input {
  border:1px solid #faadad;
  padding: 5px;
}